.installed.cfg
bin/*
downloads/*
eggs/*
parts/*
products/*
var/*
egg-info/
egg-info/*
develop-eggs/*
fake-eggs/*
*.swp
include/
lib/
stamps/
.mr.developer.cfg
src/
build/
development.ini
production.ini
