[buildout]
extends = http://dist.plone.org/release/4.2rc1/versions.cfg
allow-hosts =
	*.pythonpackages.com
	*.python.org
	*.plone.org
	*.github.com
	*.google.com
	*.googlecode.com

extensions = mr.developer
parts = 
	zeromq
	mongrel2
	mongrel2-conf
	py
	plone
	supervisor

versions = versions
sources = sources
sources-dir = src
always-checkout = true
auto-checkout = 
	plugnplay
	wsgid

[versions]
argparse = 1.2.1
wsgid = 0.6.0

[plone]
recipe = plone.recipe.zope2instance
eggs =
    Pillow
    Plone
user = admin:admin


[sources]
plugnplay = git git://github.com/daltonmatos/plugnplay.git
wsgid = git git://github.com/pjstevns/wsgid.git

[py]
recipe = zc.recipe.egg
eggs = 
	${plone:eggs}
	pyzmq-static
	plugnplay
	python-daemon
	zope.app.wsgi
	zope.app.server
	wsgid
extra-paths = 
	${buildout:directory}/app
dependent-scripts = true
interpreter = py

[config]
plone_uuid = a756f972-edb1-47e4-8f25-c6c48abd65e2
mongrel2_uuid = b8f49251-522f-48b7-830b-d087d63848c3
recv = tcp://127.0.0.1:8889
send = tcp://127.0.0.1:8890

[zeromq]
recipe = hexagonit.recipe.cmmi
url = http://download.zeromq.org/zeromq-2.2.0.tar.gz
 
[mongrel2-environment]
OPTFLAGS = -I${buildout:directory}/parts/zeromq/include 
OPTLIBS = -L${buildout:directory}/parts/zeromq/lib -Wl,-rpath -Wl,${buildout:directory}/parts/zeromq/lib
PREFIX = ${buildout:directory}/parts/mongrel2
LD_LIBRARY_PATH = ${buildout:directory}/parts/zeromq/lib
 
[mongrel2]
recipe = hexagonit.recipe.cmmi
url = http://mongrel2.org/static/downloads/mongrel2-1.7.5.tar.bz2
source-directory-contains = Makefile
configure-command = true
environment-section = mongrel2-environment

[mongrel2-conf]
recipe = collective.recipe.template
input = ${buildout:directory}/mongrel2.conf.in
output = ${buildout:directory}/mongrel2.conf

[supervisor]
recipe = collective.recipe.supervisor
port = 127.0.0.1:24101
programs =
        10 mongrel2 ${buildout:directory}/parts/mongrel2/bin/mongrel2 [config.sqlite ${config:mongrel2_uuid}] ${buildout:directory} true
	20 plone    ${buildout:directory}/bin/py [src/wsgid/scripts/wsgid --wsgi-app=app.load.application --recv=${config:recv} --send=${config:send} --no-daemon --stdout] ${buildout:directory} true

